In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pathlib import Path

In [12]:
dir = Path('/config/workspace/archive/')

In [23]:
# for i in dir.iterdir():
#     path = str(i)
#     print(path.find('/')

a = '/config/workspace/archive/'
print(a.find('/',))

25

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.\
builder.\
appName("pyspark-mongoDB").\
config("spark.executor.memory", "1g").\
config("spark.mongodb.read.connection.uri","mongodb+srv://mongoDB:mongoDB@cluster0.pxjenuk.mongodb.net/?retryWrites=true&w=majority").\
config("spark.mongodb.write.connection.uri","mongodb+srv://mongoDB:mongoDB@cluster0.pxjenuk.mongodb.net/?retryWrites=true&w=majority").\
config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector:10.0.3").\
getOrCreate()

Case_df = spark.read.format("mongodb").option('database', 'Covid_database').option('collection', 'Case').load()

:: loading settings :: url = jar:file:/usr/local/spark-3.2.1-bin-hadoop3.2/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /config/.ivy2/cache
The jars for the packages stored in: /config/.ivy2/jars
org.mongodb.spark#mongo-spark-connector added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-e8a95c3d-3e4f-4973-a04d-8a25bc8f8ece;1.0
	confs: [default]
	found org.mongodb.spark#mongo-spark-connector;10.0.3 in central
	found org.mongodb#mongodb-driver-sync;4.5.1 in central
	[4.5.1] org.mongodb#mongodb-driver-sync;[4.5.0,4.5.99)
	found org.mongodb#bson;4.5.1 in central
	found org.mongodb#mongodb-driver-core;4.5.1 in central
downloading https://repo1.maven.org/maven2/org/mongodb/spark/mongo-spark-connector/10.0.3/mongo-spark-connector-10.0.3.jar ...
	[SUCCESSFUL ] org.mongodb.spark#mongo-spark-connector;10.0.3!mongo-spark-connector.jar (539ms)
downloading https://repo1.maven.org/maven2/org/mongodb/mongodb-driver-sync/4.5.1/mongodb-driver-sync-4.5.1.jar ...
	[SUCCESSFUL ] org.mongodb#mongodb-driver-sync;4.5.1!mongodb-driver-sync.jar (239ms)
downloading https://repo1.maven.org/maven2/org/mongodb/bson/4.5.1/bson-4.5.1.jar ...
	[SUCCESSFUL ] org.mongodb#bson;4.5.1!bson.jar (381ms)
downloading https://repo1.maven.org/maven2/org/mongodb/mongodb-driver-core/4.5.1/mongodb-driver-core-4.5.1.jar ...
	[SUCCESSFUL ] org.mongodb#mongodb-driver-core;4.5.1!mongodb-driver-core.jar (414ms)
:: resolution report :: resolve 6455ms :: artifacts dl 1580ms
	:: modules in use:
	org.mongodb#bson;4.5.1 from central in [default]
	org.mongodb#mongodb-driver-core;4.5.1 from central in [default]
	org.mongodb#mongodb-driver-sync;4.5.1 from central in [default]
	org.mongodb.spark#mongo-spark-connector;10.0.3 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   4   |   4   |   4   |   0   ||   4   |   4   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-e8a95c3d-3e4f-4973-a04d-8a25bc8f8ece
	confs: [default]
	4 artifacts copied, 0 already retrieved (2279kB/15ms)
23/01/22 14:09:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [89]:
Case_df = spark.read.format("mongodb").option('database', 'Covid_database').option('collection', 'Case').load()

In [90]:
Case_df.show(2)

+---------------+---------+----------+---------+-----+--------------+---------+----------+--------+
|            _id|  case_id|      city|confirmed|group|infection_case| latitude| longitude|province|
+---------------+---------+----------+---------+-----+--------------+---------+----------+--------+
|covid_case#1#14|1000001.0|Yongsan-gu|    139.0| true| Itaewon Clubs|37.538621|126.992652|   Seoul|
|covid_case#0#19|1000001.0|Yongsan-gu|    139.0| true| Itaewon Clubs|37.538621|126.992652|   Seoul|
+---------------+---------+----------+---------+-----+--------------+---------+----------+--------+
only showing top 2 rows

In [2]:
Case_df = spark.read.format("mongodb").option('database', 'Covid_database').option('collection', 'Case').load()
PatientInfo_df = spark.read.format("mongodb").option('database', 'Covid_database').option('collection', 'PatientInfo').load()
Policy_df = spark.read.format("mongodb").option('database', 'Covid_database').option('collection', 'Policy').load()
Region_df = spark.read.format("mongodb").option('database', 'Covid_database').option('collection', 'Region').load()
SearchTrend_df = spark.read.format("mongodb").option('database', 'Covid_database').option('collection', 'SearchTrend').load()
SeoulFloating_df = spark.read.format("mongodb").option('database', 'Covid_database').option('collection', 'SeoulFloating').load()
Time_df = spark.read.format("mongodb").option('database', 'Covid_database').option('collection', 'Time').load()
TimeAge_df = spark.read.format("mongodb").option('database', 'Covid_database').option('collection', 'TimeAge').load()
TimeGender_df = spark.read.format("mongodb").option('database', 'Covid_database').option('collection', 'TimeGender').load()
TimeProvince_df = spark.read.format("mongodb").option('database', 'Covid_database').option('collection', 'TimeProvince').load()
Weather_df = spark.read.format("mongodb").option('database', 'Covid_database').option('collection', 'Weather').load()

In [5]:
Weather_df.show(2)

+--------------------+---------------------+--------+-------+--------+--------+--------------+--------+-------------------+-------------+--------+
|                 _id|avg_relative_humidity|avg_temp|   code|    date|max_temp|max_wind_speed|min_temp|most_wind_direction|precipitation|province|
+--------------------+---------------------+--------+-------+--------+--------+--------------+--------+-------------------+-------------+--------+
|63ccd81f34a17f148...|                 73.0|     1.2|10000.0|1/1/2016|     4.0|           3.5|    -3.3|               90.0|          0.0|   Seoul|
|63ccd82934a17f148...|                 83.9|     3.1|14000.0|1/1/2016|     5.7|           5.3|    -0.4|              180.0|          0.0| Incheon|
+--------------------+---------------------+--------+-------+--------+--------+--------------+--------+-------------------+-------------+--------+
only showing top 2 rows

#### Read the data, show it and Count the number of records.

In [3]:
display(Case_df.show())

+---------------+---------+---------------+---------+-----+--------------------+---------+----------+--------+
|            _id|  case_id|           city|confirmed|group|      infection_case| latitude| longitude|province|
+---------------+---------+---------------+---------+-----+--------------------+---------+----------+--------+
|covid_case#1#14|1000001.0|     Yongsan-gu|    139.0| true|       Itaewon Clubs|37.538621|126.992652|   Seoul|
|covid_case#0#19|1000001.0|     Yongsan-gu|    139.0| true|       Itaewon Clubs|37.538621|126.992652|   Seoul|
|covid_case#0#20|1000003.0|        Guro-gu|     95.0| true| Guro-gu Call Center|37.508163|126.884387|   Seoul|
|covid_case#0#21|1000005.0|      Dobong-gu|     43.0| true|     Day Care Center|37.679422|127.044374|   Seoul|
|covid_case#0#22|1000009.0|from other city|     25.0| true|Coupang Logistics...|        -|         -|   Seoul|
|covid_case#0#23|1000013.0|      Jongno-gu|     10.0| true|Jongno Community ...| 37.57681|   127.006|   Seoul|
|covid_case#0#24|1000014.0|     Gangnam-gu|      7.0| true|Samsung Medical C...| 37.48825| 127.08559|   Seoul|
|covid_case#0#25|1000017.0|      Jongno-gu|      7.0| true|Korea Campus Crus...|37.594782|126.968022|   Seoul|
|covid_case#0#26|1000019.0|from other city|      1.0| true|Daejeon door-to-d...|        -|         -|   Seoul|
|covid_case#0#27|1000021.0|from other city|      8.0| true|  Shincheonji Church|        -|         -|   Seoul|
|covid_case#0#28|1000024.0|Yeongdeungpo-gu|      3.0| true|Yeongdeungpo Lear...|37.520846|126.931278|   Seoul|
|covid_case#0#29|1000025.0|     Gangnam-gu|      1.0| true|Gangnam Dongin Ch...|37.522331|127.057388|   Seoul|
|covid_case#0#30|1000029.0|     Gangnam-gu|      4.0| true|Samsung Fire & Ma...|37.498279|127.030139|   Seoul|
|covid_case#0#31|1000031.0|from other city|      4.0| true|     Yongin Brothers|        -|         -|   Seoul|
|covid_case#0#32|1000033.0|from other city|      2.0| true|Uiwang Logistics ...|        -|         -|   Seoul|
|covid_case#0#33|1000037.0|              -|    162.0|false|contact with patient|        -|         -|   Seoul|
|covid_case#0#34|1100001.0|     Dongnae-gu|     39.0| true|       Onchun Church| 35.21628|  129.0771|   Busan|
|covid_case#0#35|1100007.0|from other city|      1.0| true|Cheongdo Daenam H...|        -|         -|   Busan|
|covid_case#0#36|1100009.0|              -|     19.0|false|contact with patient|        -|         -|   Busan|
|covid_case#0#37|1200008.0|              -|     41.0|false|     overseas inflow|        -|         -|   Daegu|
+---------------+---------+---------------+---------+-----+--------------------+---------+----------+--------+
only showing top 20 rows

None

In [4]:
Region_df.show()

+--------------------+-------------+-------------+-------+-------------------+------------------------+-----------------------+------------------+--------+---------+------------------+--------+----------------+
|                 _id|academy_ratio|         city|   code|elderly_alone_ratio|elderly_population_ratio|elementary_school_count|kindergarten_count|latitude|longitude|nursing_home_count|province|university_count|
+--------------------+-------------+-------------+-------+-------------------+------------------------+-----------------------+------------------+--------+---------+------------------+--------+----------------+
|63ccb95f53ee75182...|         1.44|        Seoul|10000.0|                5.8|                   15.38|                  607.0|             830.0|   37.57|   126.98|           22739.0|   Seoul|            48.0|
|63ccb9ae53ee75182...|         1.54|  Gangdong-gu|10020.0|                5.4|                   14.55|                   27.0|              32.0|   37.53|   127.12|            1023.0|   Seoul|             0.0|
|63ccb9ae53ee75182...|          1.0|      Guro-gu|10070.0|                5.7|                   16.21|                   26.0|              34.0|    37.5|   126.89|             741.0|   Seoul|             3.0|
|63ccb9ae53ee75182...|         0.96| Geumcheon-gu|10080.0|                6.7|                   16.15|                   18.0|              19.0|   37.46|    126.9|             475.0|   Seoul|             0.0|
|63ccb9ae53ee75182...|         1.06|Dongdaemun-gu|10110.0|                6.7|                   17.26|                   21.0|              31.0|   37.57|   127.04|             832.0|   Seoul|             4.0|
|63ccb9ae53ee75182...|         1.17|   Dongjak-gu|10120.0|                5.2|                   15.85|                   21.0|              34.0|   37.51|   126.96|             762.0|   Seoul|             3.0|
|63ccb9ae53ee75182...|         1.83|      Mapo-gu|10130.0|                4.9|                   14.05|                   22.0|              24.0|   37.57|    126.9|             929.0|   Seoul|             2.0|
|63ccb9ae53ee75182...|          2.6|    Seocho-gu|10150.0|                3.8|                   13.39|                   24.0|              27.0|   37.48|   127.03|            1465.0|   Seoul|             1.0|
|63ccb9ae53ee75182...|         0.97| Seongdong-gu|10160.0|                5.3|                   14.76|                   21.0|              30.0|   37.56|   127.04|             593.0|   Seoul|             2.0|
|63ccb9ae53ee75182...|         1.09| Eunpyeong-gu|10220.0|                6.5|                    17.0|                   31.0|              44.0|    37.6|   126.93|             874.0|   Seoul|             1.0|
|63ccb9ae53ee75182...|         1.34|      Saha-gu|11100.0|                8.1|                   17.76|                   26.0|              42.0|    35.1|   128.97|             541.0|   Busan|             2.0|
|63ccb9ae53ee75182...|         1.51| Dalseong-gun|12030.0|                5.4|                   12.11|                   32.0|              47.0|   35.77|   128.43|             361.0|   Daegu|             1.0|
|63ccb9ae53ee75182...|         2.28|   Suseong-gu|12070.0|                6.9|                    15.0|                   34.0|              49.0|   35.86|   128.63|             948.0|   Daegu|             1.0|
|63ccb9ae53ee75182...|         2.38|      Gwangju|13000.0|                6.4|                   13.57|                  155.0|             312.0|   35.16|   126.85|            2852.0| Gwangju|            17.0|
|63ccb9ae53ee75182...|         1.27|      Incheon|14000.0|                5.8|                    13.2|                  250.0|             403.0|   37.46|   126.71|            4497.0| Incheon|             7.0|
|63ccb9ae53ee75182...|         1.25|   Gyeyang-gu|14020.0|                5.2|                   11.81|                   26.0|              36.0|   37.54|   126.74|             477.0| Incheon|             2.0|
|63ccb9ae53ee75182...|         1.77|    Yeonsu-gu|14080.0|                4.0|                    9.48|                   23.0|              43.0|   37.41|   126.68|             467.0| Incheon|             1.0|
|63ccb9ae53ee75182...|         1.35|   Daedeok-gu|15010.0|                6.9|                   14.97|                   21.0|              29.0|   36.35|   127.42|             310.0| Daejeon|             2.0|
|63ccb9ae53ee75182...|         1.54|   Yuseong-gu|15040.0|                3.3|                    9.04|                   38.0|              75.0|   36.36|   127.36|             586.0| Daejeon|             5.0|
|63ccb9ae53ee75182...|         1.43|      Jung-gu|15050.0|                8.2|                   18.39|                   27.0|              43.0|   36.33|   127.42|             518.0| Daejeon|             1.0|
+--------------------+-------------+-------------+-------+-------------------+------------------------+-----------------------+------------------+--------+---------+------------------+--------+----------------+
only showing top 20 rows

In [12]:
TimeProvince_df.show()

+--------------------+---------+----------+--------+-----------------+--------+----+
|                 _id|confirmed|      date|deceased|         province|released|time|
+--------------------+---------+----------+--------+-----------------+--------+----+
|63ccd80c53ee75182...|      0.0|2020-01-20|     0.0|            Seoul|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-21|     0.0|            Seoul|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-22|     0.0|            Seoul|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-22|     0.0|            Busan|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-22|     0.0|          Daejeon|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-22|     0.0|Chungcheongbuk-do|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-22|     0.0|          Jeju-do|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-23|     0.0|          Gwangju|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-23|     0.0|     Jeollabuk-do|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-24|     0.0|            Seoul|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-24|     0.0|            Daegu|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-24|     0.0|           Sejong|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-24|     0.0|       Gangwon-do|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-24|     0.0|     Jeollabuk-do|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-24|     0.0|          Jeju-do|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-25|     0.0|            Seoul|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-25|     0.0|            Ulsan|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-25|     0.0|Chungcheongnam-do|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-26|     0.0|            Daegu|     0.0|16.0|
|63ccd80c53ee75182...|      2.0|2020-01-26|     0.0|      Gyeonggi-do|     0.0|16.0|
+--------------------+---------+----------+--------+-----------------+--------+----+
only showing top 20 rows

In [5]:
Case_df.count()

175

In [6]:
Region_df.count()

245

In [7]:
TimeProvince_df.count()

2771

In [8]:
Case_count = Case_df.count()
Region_count = Region_df.count()
TimeProvince_count = TimeProvince_df.count()

print("number of records in Case dataframe : " + str(Case_count))
print("number of records in Region dataframe : " + str(Region_count))
print("number of records in TimeProvince dataframe : " + str(TimeProvince_count))

number of records in Case dataframe : 175
number of records in Region dataframe : 245
number of records in TimeProvince dataframe : 2771

#### Describe the data with a describe function

In [9]:
Case_df.describe().show()

+-------+---------------+------------------+---------------+------------------+--------------------+------------------+------------------+--------+
|summary|            _id|           case_id|           city|         confirmed|      infection_case|          latitude|         longitude|province|
+-------+---------------+------------------+---------------+------------------+--------------------+------------------+------------------+--------+
|  count|            175|               175|            175|               175|                 175|               175|               175|     175|
|   mean|           null| 2676580.245714286|           null| 65.90857142857143|                null| 36.70684762424243|127.57591177727271|    null|
| stddev|           null|1941814.5909375306|           null|354.11939133138833|                null|0.9103830307140784|0.8199777375362923|    null|
|    min|covid_case#0#19|         1000001.0|              -|               0.0|Anyang Gunpo Past...|                 -|                 -|   Busan|
|    max|covid_case#2#67|         7000004.0|from other city|            4511.0|     overseas inflow|         37.758635|          129.1256|   Ulsan|
+-------+---------------+------------------+---------------+------------------+--------------------+------------------+------------------+--------+

In [18]:
Region_df.describe().show()

+-------+--------------------+------------------+----------+------------------+-------------------+------------------------+-----------------------+------------------+------------------+------------------+------------------+--------+------------------+
|summary|                 _id|     academy_ratio|      city|              code|elderly_alone_ratio|elderly_population_ratio|elementary_school_count|kindergarten_count|          latitude|         longitude|nursing_home_count|province|  university_count|
+-------+--------------------+------------------+----------+------------------+-------------------+------------------------+-----------------------+------------------+------------------+------------------+------------------+--------+------------------+
|  count|                 245|               245|       245|               245|                245|                     245|                    245|               245|               245|               245|               245|     245|               245|
|   mean|                null|  1.29534693877551|      null| 32818.57142857143| 10.624897959183677|      20.901102040816337|      76.35510204081632|110.84897959183674| 36.40187755102039|127.65865306122446|1247.3387755102042|    null| 4.330612244897959|
| stddev|                null|0.5917544611195885|      null|19388.944416181366|  5.601945696256551|        8.07860577832043|      403.3264761165169| 589.3888103131201|1.0609459441555955|0.9036534577829827| 6518.553144830063|    null|22.640836130522963|
|    min|63ccb95f53ee75182...|              0.19| Andong-si|           10000.0|                3.3|                    7.69|                    4.0|               4.0|             33.49|            126.26|              11.0|   Busan|               0.0|
|    max|63ccb9af53ee75182...|              4.18|Yuseong-gu|           80000.0|               24.7|                   40.26|                 6087.0|            8837.0|             38.38|            130.91|           94865.0|   Ulsan|             340.0|
+-------+--------------------+------------------+----------+------------------+-------------------+------------------------+-----------------------+------------------+------------------+------------------+------------------+--------+------------------+

In [10]:
TimeProvince_df.describe().show()

+-------+--------------------+-----------------+----------+-----------------+--------+------------------+-----------------+
|summary|                 _id|        confirmed|      date|         deceased|province|          released|             time|
+-------+--------------------+-----------------+----------+-----------------+--------+------------------+-----------------+
|  count|                2771|             2771|      2771|             2771|    2771|              2771|             2771|
|   mean|                null|444.3081919884518|      null|9.239985564778058|    null|320.72645254420786|4.122699386503068|
| stddev|                null|1360.890963306275|      null|32.63861530827666|    null|1126.0412546146954|6.998872580910629|
|    min|63ccd80c53ee75182...|              0.0|2020-01-20|              0.0|   Busan|               0.0|              0.0|
|    max|63ccd81553ee75182...|           6906.0|2020-06-30|            189.0|   Ulsan|            6700.0|             16.0|
+-------+--------------------+-----------------+----------+-----------------+--------+------------------+-----------------+

#### If there is any duplicate value drop it.

In [12]:
Case_df.dropDuplicates()
Region_df.dropDuplicates()
TimeProvince_df.dropDuplicates()

DataFrame[_id: string, confirmed: double, date: string, deceased: double, province: string, released: double, time: double]

####  Use limit function for showcasing a limited number of records

In [13]:
Case_df.limit(5).show()

+---------------+---------+---------------+---------+-----+--------------------+---------+----------+--------+
|            _id|  case_id|           city|confirmed|group|      infection_case| latitude| longitude|province|
+---------------+---------+---------------+---------+-----+--------------------+---------+----------+--------+
|covid_case#1#14|1000001.0|     Yongsan-gu|    139.0| true|       Itaewon Clubs|37.538621|126.992652|   Seoul|
|covid_case#0#19|1000001.0|     Yongsan-gu|    139.0| true|       Itaewon Clubs|37.538621|126.992652|   Seoul|
|covid_case#0#20|1000003.0|        Guro-gu|     95.0| true| Guro-gu Call Center|37.508163|126.884387|   Seoul|
|covid_case#0#21|1000005.0|      Dobong-gu|     43.0| true|     Day Care Center|37.679422|127.044374|   Seoul|
|covid_case#0#22|1000009.0|from other city|     25.0| true|Coupang Logistics...|        -|         -|   Seoul|
+---------------+---------+---------------+---------+-----+--------------------+---------+----------+--------+

In [14]:
Region_df.limit(5).show()

+--------------------+-------------+-------------+-------+-------------------+------------------------+-----------------------+------------------+--------+---------+------------------+--------+----------------+
|                 _id|academy_ratio|         city|   code|elderly_alone_ratio|elderly_population_ratio|elementary_school_count|kindergarten_count|latitude|longitude|nursing_home_count|province|university_count|
+--------------------+-------------+-------------+-------+-------------------+------------------------+-----------------------+------------------+--------+---------+------------------+--------+----------------+
|63ccb95f53ee75182...|         1.44|        Seoul|10000.0|                5.8|                   15.38|                  607.0|             830.0|   37.57|   126.98|           22739.0|   Seoul|            48.0|
|63ccb9ae53ee75182...|         1.54|  Gangdong-gu|10020.0|                5.4|                   14.55|                   27.0|              32.0|   37.53|   127.12|            1023.0|   Seoul|             0.0|
|63ccb9ae53ee75182...|          1.0|      Guro-gu|10070.0|                5.7|                   16.21|                   26.0|              34.0|    37.5|   126.89|             741.0|   Seoul|             3.0|
|63ccb9ae53ee75182...|         0.96| Geumcheon-gu|10080.0|                6.7|                   16.15|                   18.0|              19.0|   37.46|    126.9|             475.0|   Seoul|             0.0|
|63ccb9ae53ee75182...|         1.06|Dongdaemun-gu|10110.0|                6.7|                   17.26|                   21.0|              31.0|   37.57|   127.04|             832.0|   Seoul|             4.0|
+--------------------+-------------+-------------+-------+-------------------+------------------------+-----------------------+------------------+--------+---------+------------------+--------+----------------+

In [15]:
TimeProvince_df.limit(5).show()

+--------------------+---------+----------+--------+--------+--------+----+
|                 _id|confirmed|      date|deceased|province|released|time|
+--------------------+---------+----------+--------+--------+--------+----+
|63ccd80c53ee75182...|      0.0|2020-01-20|     0.0|   Seoul|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-21|     0.0|   Seoul|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-22|     0.0|   Seoul|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-22|     0.0|   Busan|     0.0|16.0|
|63ccd80c53ee75182...|      0.0|2020-01-22|     0.0| Daejeon|     0.0|16.0|
+--------------------+---------+----------+--------+--------+--------+----+

#### If you find the column name is not suitable, change the column name.[optional]

In [16]:
Case_columns = Case_df.columns
print(Case_columns)

['_id', 'case_id', 'city', 'confirmed', 'group', 'infection_case', 'latitude', 'longitude', 'province']

#### Select the subset of the columns.

In [17]:
from pyspark.sql.functions import col
Case_df.select(col("city"),col("confirmed"),col("province")).show()

+---------------+---------+--------+
|           city|confirmed|province|
+---------------+---------+--------+
|     Yongsan-gu|    139.0|   Seoul|
|     Yongsan-gu|    139.0|   Seoul|
|        Guro-gu|     95.0|   Seoul|
|      Dobong-gu|     43.0|   Seoul|
|from other city|     25.0|   Seoul|
|      Jongno-gu|     10.0|   Seoul|
|     Gangnam-gu|      7.0|   Seoul|
|      Jongno-gu|      7.0|   Seoul|
|from other city|      1.0|   Seoul|
|from other city|      8.0|   Seoul|
|Yeongdeungpo-gu|      3.0|   Seoul|
|     Gangnam-gu|      1.0|   Seoul|
|     Gangnam-gu|      4.0|   Seoul|
|from other city|      4.0|   Seoul|
|from other city|      2.0|   Seoul|
|              -|    162.0|   Seoul|
|     Dongnae-gu|     39.0|   Busan|
|from other city|      1.0|   Busan|
|              -|     19.0|   Busan|
|              -|     41.0|   Daegu|
+---------------+---------+--------+
only showing top 20 rows

##### If there is any null value, fill it with any random value or drop it.

In [23]:
from pyspark.sql.functions import col,isnan, when, count
Case_columns = ['case_id','city','confirmed','infection_case','latitude','longitude','province']
Case_df.select([count(when(isnan(c) | col(c).isNull() | col(c).contains('-'), c)).alias(c) for c in Case_columns]
   ).show()

+-------+----+---------+--------------+--------+---------+--------+
|case_id|city|confirmed|infection_case|latitude|longitude|province|
+-------+----+---------+--------------+--------+---------+--------+
|      0| 122|        0|            25|     109|      109|      84|
+-------+----+---------+--------------+--------+---------+--------+

In [91]:
Case_df = Case_df.withColumn('city',when(isnan(col("city")) |Case_df.city.isNull() | Case_df.city.startswith('-'), 'undefined').otherwise(Case_df.city)).\
    withColumn('latitude',when(isnan(col("latitude")) |Case_df.latitude.isNull() | Case_df.latitude.startswith('-'), 'unknown').otherwise(Case_df.latitude)).\
    withColumn('longitude',when(isnan(col("longitude")) |Case_df.longitude.isNull() | Case_df.longitude.startswith('-'), 'unknown').otherwise(Case_df.longitude)).\
    withColumn('infection_case',when(isnan(col("infection_case")) |Case_df.infection_case.isNull() | Case_df.infection_case.startswith('-'), 'undefined').otherwise(Case_df.infection_case))

In [92]:
Case_df.show()

+---------------+---------+---------------+---------+-----+--------------------+---------+----------+--------+
|            _id|  case_id|           city|confirmed|group|      infection_case| latitude| longitude|province|
+---------------+---------+---------------+---------+-----+--------------------+---------+----------+--------+
|covid_case#1#14|1000001.0|     Yongsan-gu|    139.0| true|       Itaewon Clubs|37.538621|126.992652|   Seoul|
|covid_case#0#19|1000001.0|     Yongsan-gu|    139.0| true|       Itaewon Clubs|37.538621|126.992652|   Seoul|
|covid_case#0#20|1000003.0|        Guro-gu|     95.0| true| Guro-gu Call Center|37.508163|126.884387|   Seoul|
|covid_case#0#21|1000005.0|      Dobong-gu|     43.0| true|     Day Care Center|37.679422|127.044374|   Seoul|
|covid_case#0#22|1000009.0|from other city|     25.0| true|Coupang Logistics...|  unknown|   unknown|   Seoul|
|covid_case#0#23|1000013.0|      Jongno-gu|     10.0| true|Jongno Community ...| 37.57681|   127.006|   Seoul|
|covid_case#0#24|1000014.0|     Gangnam-gu|      7.0| true|Samsung Medical C...| 37.48825| 127.08559|   Seoul|
|covid_case#0#25|1000017.0|      Jongno-gu|      7.0| true|Korea Campus Crus...|37.594782|126.968022|   Seoul|
|covid_case#0#26|1000019.0|from other city|      1.0| true|Daejeon door-to-d...|  unknown|   unknown|   Seoul|
|covid_case#0#27|1000021.0|from other city|      8.0| true|  Shincheonji Church|  unknown|   unknown|   Seoul|
|covid_case#0#28|1000024.0|Yeongdeungpo-gu|      3.0| true|Yeongdeungpo Lear...|37.520846|126.931278|   Seoul|
|covid_case#0#29|1000025.0|     Gangnam-gu|      1.0| true|Gangnam Dongin Ch...|37.522331|127.057388|   Seoul|
|covid_case#0#30|1000029.0|     Gangnam-gu|      4.0| true|Samsung Fire & Ma...|37.498279|127.030139|   Seoul|
|covid_case#0#31|1000031.0|from other city|      4.0| true|     Yongin Brothers|  unknown|   unknown|   Seoul|
|covid_case#0#32|1000033.0|from other city|      2.0| true|Uiwang Logistics ...|  unknown|   unknown|   Seoul|
|covid_case#0#33|1000037.0|      undefined|    162.0|false|contact with patient|  unknown|   unknown|   Seoul|
|covid_case#0#34|1100001.0|     Dongnae-gu|     39.0| true|       Onchun Church| 35.21628|  129.0771|   Busan|
|covid_case#0#35|1100007.0|from other city|      1.0| true|Cheongdo Daenam H...|  unknown|   unknown|   Busan|
|covid_case#0#36|1100009.0|      undefined|     19.0|false|contact with patient|  unknown|   unknown|   Busan|
|covid_case#0#37|1200008.0|      undefined|     41.0|false|     overseas inflow|  unknown|   unknown|   Daegu|
+---------------+---------+---------------+---------+-----+--------------------+---------+----------+--------+
only showing top 20 rows

In [21]:
Region_df_columns = Region_df.columns
print(Region_columns)

['_id', 'academy_ratio', 'city', 'code', 'elderly_alone_ratio', 'elderly_population_ratio', 'elementary_school_count', 'kindergarten_count', 'latitude', 'longitude', 'nursing_home_count', 'province', 'university_count']

In [22]:

Region_columns = ['academy_ratio', 'city', 'code', 'elderly_alone_ratio', 'elderly_population_ratio', 'elementary_school_count', 'kindergarten_count', 'nursing_home_count', 'province', 'university_count']
Region_df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in Region_columns]
   ).show()

+-------------+----+----+-------------------+------------------------+-----------------------+------------------+------------------+--------+----------------+
|academy_ratio|city|code|elderly_alone_ratio|elderly_population_ratio|elementary_school_count|kindergarten_count|nursing_home_count|province|university_count|
+-------------+----+----+-------------------+------------------------+-----------------------+------------------+------------------+--------+----------------+
|            0|   0|   0|                  0|                       0|                      0|                 0|                 0|       0|               0|
+-------------+----+----+-------------------+------------------------+-----------------------+------------------+------------------+--------+----------------+

In [43]:
TimeProvince_df.printSchema()
TimeProvince_df.take(1)

root
 |-- _id: string (nullable = true)
 |-- confirmed: double (nullable = true)
 |-- date: string (nullable = true)
 |-- deceased: double (nullable = true)
 |-- province: string (nullable = true)
 |-- released: double (nullable = true)
 |-- time: double (nullable = true)

[Row(_id='63ccd80c53ee75182d7454ab', confirmed=0.0, date='2020-01-20', deceased=0.0, province='Seoul', released=0.0, time=16.0)]

In [47]:
from pyspark.sql.functions import *
d = TimeProvince_df.select(col("date"), 
    date_format(col("date"), "MM-dd-yyyy").alias("date_formated") 
  )

d.printSchema()

root
 |-- date: string (nullable = true)
 |-- date_formated: string (nullable = true)

In [49]:

d = TimeProvince_df.select(col("date"), 
    to_date(col("date"), "yyyy-MM-dd").alias("date_formated") 
  )

d.printSchema()

root
 |-- date: string (nullable = true)
 |-- date_formated: date (nullable = true)

In [56]:
TimeProvince_df = TimeProvince_df.withColumn("date",col("date").cast("date")).withColumn("time",col("time").cast('int'))
TimeProvince_df.printSchema()

root
 |-- _id: string (nullable = true)
 |-- confirmed: double (nullable = true)
 |-- date: date (nullable = true)
 |-- deceased: double (nullable = true)
 |-- province: string (nullable = true)
 |-- released: double (nullable = true)
 |-- time: integer (nullable = true)

#### Filter the data based on different columns or variables and do the best analysis.

In [57]:
Case_df.groupBy("city").count().show()

+---------------+-----+
|           city|count|
+---------------+-----+
|     Yongsan-gu|    2|
|        Guro-gu|    3|
|      Dobong-gu|    1|
|from other city|   51|
|      Jongno-gu|    2|
|     Gangnam-gu|    4|
|Yeongdeungpo-gu|    1|
|              -|   53|
|     Dongnae-gu|    1|
|         Sejong|    2|
|    Seongnam-si|    3|
|   Cheongdo-gun|    1|
|   Gyeongsan-si|    3|
|    Chilgok-gun|    1|
|        Gumi-si|    1|
|    Changwon-si|    1|
|  Dongdaemun-gu|    1|
|      Gwanak-gu|    2|
|   Eunpyeong-gu|    1|
|   Seongdong-gu|    1|
+---------------+-----+
only showing top 20 rows

In [62]:
 #infection_case	confirmed
Case_df.groupBy("city").agg({"infection_case":"count"}).alias("count_of_infectedCases").show()

+---------------+---------------------+
|           city|count(infection_case)|
+---------------+---------------------+
|     Yongsan-gu|                    2|
|        Guro-gu|                    3|
|      Dobong-gu|                    1|
|from other city|                   51|
|      Jongno-gu|                    2|
|     Gangnam-gu|                    4|
|Yeongdeungpo-gu|                    1|
|              -|                   53|
|     Dongnae-gu|                    1|
|         Sejong|                    2|
|    Seongnam-si|                    3|
|   Cheongdo-gun|                    1|
|   Gyeongsan-si|                    3|
|    Chilgok-gun|                    1|
|        Gumi-si|                    1|
|    Changwon-si|                    1|
|  Dongdaemun-gu|                    1|
|      Gwanak-gu|                    2|
|   Eunpyeong-gu|                    1|
|   Seongdong-gu|                    1|
+---------------+---------------------+
only showing top 20 rows

In [65]:
 #infection_case	confirmed
Case_df.groupBy("city").agg(count("infection_case").alias("count_of_infectedCases"),\
    sum("confirmed").alias("count_of_confirmedCases")).show()

+---------------+----------------------+-----------------------+
|           city|count_of_infectedCases|count_of_confirmedCases|
+---------------+----------------------+-----------------------+
|     Yongsan-gu|                     2|                  278.0|
|        Guro-gu|                     3|                  139.0|
|      Dobong-gu|                     1|                   43.0|
|from other city|                    51|                 1217.0|
|      Jongno-gu|                     2|                   17.0|
|     Gangnam-gu|                     4|                   18.0|
|Yeongdeungpo-gu|                     1|                    3.0|
|              -|                    53|                 3625.0|
|     Dongnae-gu|                     1|                   39.0|
|         Sejong|                     2|                   39.0|
|    Seongnam-si|                     3|                   94.0|
|   Cheongdo-gun|                     1|                  119.0|
|   Gyeongsan-si|                     3|                   99.0|
|    Chilgok-gun|                     1|                   36.0|
|        Gumi-si|                     1|                   10.0|
|    Changwon-si|                     1|                    7.0|
|  Dongdaemun-gu|                     1|                   17.0|
|      Gwanak-gu|                     2|                  149.0|
|   Eunpyeong-gu|                     1|                   14.0|
|   Seongdong-gu|                     1|                   13.0|
+---------------+----------------------+-----------------------+
only showing top 20 rows

In [82]:
Case_df.alias("t1").join(TimeProvince_df.alias("t2"),"province","inner")\
    .select(col("province"),col("city"),col("t1.confirmed"),col("released"),col("deceased")).show()

+--------+----------+---------+--------+--------+
|province|      city|confirmed|released|deceased|
+--------+----------+---------+--------+--------+
|   Busan|Dongnae-gu|     39.0|     0.0|     0.0|
|   Busan|Dongnae-gu|     39.0|     0.0|     0.0|
|   Busan|Dongnae-gu|     39.0|     0.0|     0.0|
|   Busan|Dongnae-gu|     39.0|     0.0|     0.0|
|   Busan|Dongnae-gu|     39.0|     0.0|     0.0|
|   Busan|Dongnae-gu|     39.0|     0.0|     0.0|
|   Busan|Dongnae-gu|     39.0|     0.0|     0.0|
|   Busan|Dongnae-gu|     39.0|     0.0|     0.0|
|   Busan|Dongnae-gu|     39.0|     0.0|     0.0|
|   Busan|Dongnae-gu|     39.0|     9.0|     0.0|
|   Busan|Dongnae-gu|     39.0|    21.0|     0.0|
|   Busan|Dongnae-gu|     39.0|    53.0|     1.0|
|   Busan|Dongnae-gu|     39.0|    60.0|     1.0|
|   Busan|Dongnae-gu|     39.0|     0.0|     0.0|
|   Busan|Dongnae-gu|     39.0|     0.0|     0.0|
|   Busan|Dongnae-gu|     39.0|     0.0|     0.0|
|   Busan|Dongnae-gu|     39.0|     0.0|     0.0|
|   Busan|Dongnae-gu|     39.0|     0.0|     0.0|
|   Busan|Dongnae-gu|     39.0|     0.0|     0.0|
|   Busan|Dongnae-gu|     39.0|     0.0|     0.0|
+--------+----------+---------+--------+--------+
only showing top 20 rows

In [93]:
Case_df.alias("t1").join(TimeProvince_df.alias("t2"),"province","inner")\
    .groupby("province","city")\
    .agg(sum("t1.confirmed").alias("total_confirmed"),\
         sum("released").alias("total_released"),\
         sum("deceased").alias("total_deceased")).show()

+-----------------+---------------+---------------+--------------+--------------+
|         province|           city|total_confirmed|total_released|total_deceased|
+-----------------+---------------+---------------+--------------+--------------+
|            Busan|     Dongnae-gu|         6357.0|       12678.0|         299.0|
|            Busan|from other city|         2771.0|       38034.0|         897.0|
|            Busan|      undefined|        13855.0|       38034.0|         897.0|
|            Busan|    Haeundae-gu|          978.0|       12678.0|         299.0|
|            Busan|     Suyeong-gu|          815.0|       12678.0|         299.0|
|            Busan|         Jin-gu|          652.0|       12678.0|         299.0|
|Chungcheongbuk-do|from other city|         2771.0|       12561.0|           0.0|
|Chungcheongbuk-do|      undefined|         5216.0|       12561.0|           0.0|
|Chungcheongbuk-do|     Goesan-gun|         1793.0|        4187.0|           0.0|
|Chungcheongnam-do|from other city|         2608.0|       38442.0|           0.0|
|Chungcheongnam-do|      undefined|         4890.0|       38442.0|           0.0|
|Chungcheongnam-do|     Cheonan-si|        16789.0|       12814.0|           0.0|
|Chungcheongnam-do|      Seosan-si|         1467.0|       12814.0|           0.0|
|            Daegu|      undefined|       277915.0|     1801293.0|       52872.0|
|            Daegu|   Dalseong-gun|        48411.0|     1200862.0|       35248.0|
|            Daegu|        Dong-gu|         6357.0|      600431.0|       17624.0|
|            Daegu|from other city|          652.0|     1200862.0|       35248.0|
|            Daegu|         Nam-gu|       735293.0|      600431.0|       17624.0|
|            Daegu|         Seo-gu|        20212.0|      600431.0|       17624.0|
|          Daejeon|      undefined|        16300.0|       13552.0|         232.0|
+-----------------+---------------+---------------+--------------+--------------+
only showing top 20 rows

##### we may want to find out all the dif erent infection_case in Daegu Province with more than 10 confirmed cases.

In [94]:
# we may want to find out all the dif erent infection_case in Daegu Province with more than 10 confirmed cases.
print(Case_df.columns

['_id', 'case_id', 'city', 'confirmed', 'group', 'infection_case', 'latitude', 'longitude', 'province']

In [111]:
Case_df.groupby("province","city").agg(sum("confirmed").alias("confirmed_cases"))\
    .filter((col("province") == "Daegu") & (col("confirmed_cases") > 10))\
        .show()

+--------+------------+---------------+
|province|        city|confirmed_cases|
+--------+------------+---------------+
|   Daegu|   undefined|         1705.0|
|   Daegu|Dalseong-gun|          297.0|
|   Daegu|     Dong-gu|           39.0|
|   Daegu|      Nam-gu|         4511.0|
|   Daegu|      Seo-gu|          124.0|
+--------+------------+---------------+

##### Sort the number of confirmed cases. Confirmed column is there in the dataset. Check with descending sort also.

In [113]:
Case_df.select('case_id', 'city', 'confirmed', 'group', 'infection_case', 'latitude', 'longitude', 'province')\
    .sort("confirmed").show()

+---------+---------------+---------+-----+--------------------+---------+----------+-----------------+
|  case_id|           city|confirmed|group|      infection_case| latitude| longitude|         province|
+---------+---------------+---------+-----+--------------------+---------+----------+-----------------+
|1000030.0|     Gangseo-gu|      0.0| true|SJ Investment Cal...|37.559649|126.835102|            Seoul|
|7000002.0|      undefined|      0.0|false|contact with patient|  unknown|   unknown|          Jeju-do|
|3000007.0|      undefined|      0.0|false|contact with patient|  unknown|   unknown|       Gangwon-do|
|1000019.0|from other city|      1.0| true|Daejeon door-to-d...|  unknown|   unknown|            Seoul|
|1700006.0|      undefined|      1.0|false|                 etc|  unknown|   unknown|           Sejong|
|1100007.0|from other city|      1.0| true|Cheongdo Daenam H...|  unknown|   unknown|            Busan|
|1000025.0|     Gangnam-gu|      1.0| true|Gangnam Dongin Ch...|37.522331|127.057388|            Seoul|
|1300005.0|      undefined|      1.0|false|                 etc|  unknown|   unknown|          Gwangju|
|5100002.0|from other city|      1.0| true|  Shincheonji Church|  unknown|   unknown|     Jeollanam-do|
|7000004.0|from other city|      1.0| true|       Itaewon Clubs|  unknown|   unknown|          Jeju-do|
|5000003.0|from other city|      1.0| true|  Shincheonji Church|  unknown|   unknown|     Jeollabuk-do|
|1700003.0|from other city|      1.0| true|  Shincheonji Church|  unknown|   unknown|           Sejong|
|1000034.0|      undefined|      1.0| true|         Orange Life|  unknown|   unknown|            Seoul|
|1000028.0|from other city|      1.0| true|Anyang Gunpo Past...|  unknown|   unknown|            Seoul|
|6100009.0|from other city|      2.0| true|       Onchun Church|  unknown|   unknown| Gyeongsangnam-do|
|4100007.0|      undefined|      2.0|false|contact with patient|  unknown|   unknown|Chungcheongnam-do|
|1000033.0|from other city|      2.0| true|Uiwang Logistics ...|  unknown|   unknown|            Seoul|
|1500007.0|from other city|      2.0| true|Seosan-si Laboratory|  unknown|   unknown|          Daejeon|
|1200006.0|from other city|      2.0| true|       Itaewon Clubs|  unknown|   unknown|            Daegu|
|5100001.0|       Muan-gun|      2.0| true|Manmin Central Ch...|35.078825|126.316746|     Jeollanam-do|
+---------+---------------+---------+-----+--------------------+---------+----------+-----------------+
only showing top 20 rows

In [114]:
Case_df.select('case_id', 'city', 'confirmed', 'group', 'infection_case', 'latitude', 'longitude', 'province')\
    .sort(desc("confirmed")).show()

+---------+---------------+---------+-----+--------------------+---------+----------+-----------------+
|  case_id|           city|confirmed|group|      infection_case| latitude| longitude|         province|
+---------+---------------+---------+-----+--------------------+---------+----------+-----------------+
|1200001.0|         Nam-gu|   4511.0| true|  Shincheonji Church| 35.84008|  128.5667|            Daegu|
|1200009.0|      undefined|    917.0|false|contact with patient|  unknown|   unknown|            Daegu|
|1200010.0|      undefined|    747.0|false|                 etc|  unknown|   unknown|            Daegu|
|6000001.0|from other city|    566.0| true|  Shincheonji Church|  unknown|   unknown| Gyeongsangbuk-do|
|2000020.0|      undefined|    305.0|false|     overseas inflow|  unknown|   unknown|      Gyeonggi-do|
|1000036.0|      undefined|    298.0|false|     overseas inflow|  unknown|   unknown|            Seoul|
|1200002.0|   Dalseong-gun|    196.0| true|Second Mi-Ju Hosp...|35.857375|128.466651|            Daegu|
|6000012.0|      undefined|    190.0|false|contact with patient|  unknown|   unknown| Gyeongsangbuk-do|
|1000037.0|      undefined|    162.0|false|contact with patient|  unknown|   unknown|            Seoul|
|1000001.0|     Yongsan-gu|    139.0| true|       Itaewon Clubs|37.538621|126.992652|            Seoul|
|1000001.0|     Yongsan-gu|    139.0| true|       Itaewon Clubs|37.538621|126.992652|            Seoul|
|6000013.0|      undefined|    133.0|false|                 etc|  unknown|   unknown| Gyeongsangbuk-do|
|1200003.0|         Seo-gu|    124.0| true|Hansarang Convale...|35.885592|128.556649|            Daegu|
|1000002.0|      Gwanak-gu|    119.0| true|             Richway| 37.48208|126.901384|            Seoul|
|6000002.0|   Cheongdo-gun|    119.0| true|Cheongdo Daenam H...| 35.64887|  128.7368| Gyeongsangbuk-do|
|4100001.0|     Cheonan-si|    103.0| true|gym facility in C...| 36.81503|  127.1139|Chungcheongnam-do|
|1200004.0|   Dalseong-gun|    101.0| true|Daesil Convalesce...|35.857393|128.466653|            Daegu|
|1000038.0|      undefined|    100.0|false|                 etc|  unknown|   unknown|            Seoul|
|1000003.0|        Guro-gu|     95.0| true| Guro-gu Call Center|37.508163|126.884387|            Seoul|
|2000022.0|      undefined|     84.0|false|                 etc|  unknown|   unknown|      Gyeonggi-do|
+---------+---------------+---------+-----+--------------------+---------+----------+-----------------+
only showing top 20 rows

#### In case of any wrong data type, cast that data type from integer to string or string to integer

In [116]:
Region_df.printSchema()

root
 |-- _id: string (nullable = true)
 |-- academy_ratio: double (nullable = true)
 |-- city: string (nullable = true)
 |-- code: double (nullable = true)
 |-- elderly_alone_ratio: double (nullable = true)
 |-- elderly_population_ratio: double (nullable = true)
 |-- elementary_school_count: double (nullable = true)
 |-- kindergarten_count: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- nursing_home_count: double (nullable = true)
 |-- province: string (nullable = true)
 |-- university_count: double (nullable = true)

In [117]:
Case_df.printSchema()

root
 |-- _id: string (nullable = true)
 |-- case_id: double (nullable = true)
 |-- city: string (nullable = true)
 |-- confirmed: double (nullable = true)
 |-- group: boolean (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- province: string (nullable = true)

In [119]:
Case_df.withColumn("latitude",col("latitude").cast("double")).withColumn("longitude",col("longitude").cast("double")).printSchema()

root
 |-- _id: string (nullable = true)
 |-- case_id: double (nullable = true)
 |-- city: string (nullable = true)
 |-- confirmed: double (nullable = true)
 |-- group: boolean (nullable = true)
 |-- infection_case: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- province: string (nullable = true)

#### If you want, you can also use SQL with data frames. Let us try to run some SQL on the cases table.

In [120]:
Case_df.createOrReplaceTempView("Cases")

In [126]:
sql_string = 'select * from Cases'
spark.sql(sql_string).show()

+---------------+---------+---------------+---------+-----+--------------------+---------+----------+--------+
|            _id|  case_id|           city|confirmed|group|      infection_case| latitude| longitude|province|
+---------------+---------+---------------+---------+-----+--------------------+---------+----------+--------+
|covid_case#1#14|1000001.0|     Yongsan-gu|    139.0| true|       Itaewon Clubs|37.538621|126.992652|   Seoul|
|covid_case#0#19|1000001.0|     Yongsan-gu|    139.0| true|       Itaewon Clubs|37.538621|126.992652|   Seoul|
|covid_case#0#20|1000003.0|        Guro-gu|     95.0| true| Guro-gu Call Center|37.508163|126.884387|   Seoul|
|covid_case#0#21|1000005.0|      Dobong-gu|     43.0| true|     Day Care Center|37.679422|127.044374|   Seoul|
|covid_case#0#22|1000009.0|from other city|     25.0| true|Coupang Logistics...|  unknown|   unknown|   Seoul|
|covid_case#0#23|1000013.0|      Jongno-gu|     10.0| true|Jongno Community ...| 37.57681|   127.006|   Seoul|
|covid_case#0#24|1000014.0|     Gangnam-gu|      7.0| true|Samsung Medical C...| 37.48825| 127.08559|   Seoul|
|covid_case#0#25|1000017.0|      Jongno-gu|      7.0| true|Korea Campus Crus...|37.594782|126.968022|   Seoul|
|covid_case#0#26|1000019.0|from other city|      1.0| true|Daejeon door-to-d...|  unknown|   unknown|   Seoul|
|covid_case#0#27|1000021.0|from other city|      8.0| true|  Shincheonji Church|  unknown|   unknown|   Seoul|
|covid_case#0#28|1000024.0|Yeongdeungpo-gu|      3.0| true|Yeongdeungpo Lear...|37.520846|126.931278|   Seoul|
|covid_case#0#29|1000025.0|     Gangnam-gu|      1.0| true|Gangnam Dongin Ch...|37.522331|127.057388|   Seoul|
|covid_case#0#30|1000029.0|     Gangnam-gu|      4.0| true|Samsung Fire & Ma...|37.498279|127.030139|   Seoul|
|covid_case#0#31|1000031.0|from other city|      4.0| true|     Yongin Brothers|  unknown|   unknown|   Seoul|
|covid_case#0#32|1000033.0|from other city|      2.0| true|Uiwang Logistics ...|  unknown|   unknown|   Seoul|
|covid_case#0#33|1000037.0|      undefined|    162.0|false|contact with patient|  unknown|   unknown|   Seoul|
|covid_case#0#34|1100001.0|     Dongnae-gu|     39.0| true|       Onchun Church| 35.21628|  129.0771|   Busan|
|covid_case#0#35|1100007.0|from other city|      1.0| true|Cheongdo Daenam H...|  unknown|   unknown|   Busan|
|covid_case#0#36|1100009.0|      undefined|     19.0|false|contact with patient|  unknown|   unknown|   Busan|
|covid_case#0#37|1200008.0|      undefined|     41.0|false|     overseas inflow|  unknown|   unknown|   Daegu|
+---------------+---------+---------------+---------+-----+--------------------+---------+----------+--------+
only showing top 20 rows

In [128]:
sql_string2 = 'select distinct (Cases.city) from Cases'
spark.sql(sql_string2).show()

+---------------+
|           city|
+---------------+
|     Yongsan-gu|
|        Guro-gu|
|      Dobong-gu|
|from other city|
|      Jongno-gu|
|     Gangnam-gu|
|Yeongdeungpo-gu|
|      undefined|
|     Dongnae-gu|
|         Sejong|
|    Seongnam-si|
|   Cheongdo-gun|
|   Gyeongsan-si|
|    Chilgok-gun|
|        Gumi-si|
|    Changwon-si|
|  Dongdaemun-gu|
|      Gwanak-gu|
|   Eunpyeong-gu|
|   Seongdong-gu|
+---------------+
only showing top 20 rows

In [131]:
sql_string3 = 'select province,city,sum(confirmed)as confirmed_cases from Cases '+\
    'where province = "Daegu" group by province,city having sum(confirmed) > 10 order by city,province,confirmed_cases desc'
spark.sql(sql_string3).show()

+--------+------------+---------------+
|province|        city|confirmed_cases|
+--------+------------+---------------+
|   Daegu|Dalseong-gun|          297.0|
|   Daegu|     Dong-gu|           39.0|
|   Daegu|      Nam-gu|         4511.0|
|   Daegu|      Seo-gu|          124.0|
|   Daegu|   undefined|         1705.0|
+--------+------------+---------------+

#### Create Spark UDFs

In [134]:
def casehighlow(case):
    return 'low' if case < 50 else 'high'


caseUDF = udf(lambda x: casehighlow(x),StringType())

In [139]:
Case_df.select(col("province"),col("city"),col("infection_case"),col("confirmed"), \
    caseUDF(col("confirmed")).alias("highORlow") ) \
   .show(truncate=False)

+--------+---------------+-------------------------------+---------+---------+
|province|city           |infection_case                 |confirmed|highORlow|
+--------+---------------+-------------------------------+---------+---------+
|Seoul   |Yongsan-gu     |Itaewon Clubs                  |139.0    |high     |
|Seoul   |Yongsan-gu     |Itaewon Clubs                  |139.0    |high     |
|Seoul   |Guro-gu        |Guro-gu Call Center            |95.0     |high     |
|Seoul   |Dobong-gu      |Day Care Center                |43.0     |low      |
|Seoul   |from other city|Coupang Logistics Center       |25.0     |low      |
|Seoul   |Jongno-gu      |Jongno Community Center        |10.0     |low      |
|Seoul   |Gangnam-gu     |Samsung Medical Center         |7.0      |low      |
|Seoul   |Jongno-gu      |Korea Campus Crusade of Christ |7.0      |low      |
|Seoul   |from other city|Daejeon door-to-door sales     |1.0      |low      |
|Seoul   |from other city|Shincheonji Church             |8.0      |low      |
|Seoul   |Yeongdeungpo-gu|Yeongdeungpo Learning Institute|3.0      |low      |
|Seoul   |Gangnam-gu     |Gangnam Dongin Church          |1.0      |low      |
|Seoul   |Gangnam-gu     |Samsung Fire & Marine Insurance|4.0      |low      |
|Seoul   |from other city|Yongin Brothers                |4.0      |low      |
|Seoul   |from other city|Uiwang Logistics Center        |2.0      |low      |
|Seoul   |undefined      |contact with patient           |162.0    |high     |
|Busan   |Dongnae-gu     |Onchun Church                  |39.0     |low      |
|Busan   |from other city|Cheongdo Daenam Hospital       |1.0      |low      |
|Busan   |undefined      |contact with patient           |19.0     |low      |
|Daegu   |undefined      |overseas inflow                |41.0     |low      |
+--------+---------------+-------------------------------+---------+---------+
only showing top 20 rows

In [140]:
@udf(returnType=StringType()) 
def upperCase(str):
    return str.upper()

Case_df.select(col("province"),upperCase(col("city")),col("infection_case"),col("confirmed"), \
    caseUDF(col("confirmed")).alias("highORlow") ) \
   .show(truncate=False)

+--------+---------------+-------------------------------+---------+---------+
|province|upperCase(city)|infection_case                 |confirmed|highORlow|
+--------+---------------+-------------------------------+---------+---------+
|Seoul   |YONGSAN-GU     |Itaewon Clubs                  |139.0    |high     |
|Seoul   |YONGSAN-GU     |Itaewon Clubs                  |139.0    |high     |
|Seoul   |GURO-GU        |Guro-gu Call Center            |95.0     |high     |
|Seoul   |DOBONG-GU      |Day Care Center                |43.0     |low      |
|Seoul   |FROM OTHER CITY|Coupang Logistics Center       |25.0     |low      |
|Seoul   |JONGNO-GU      |Jongno Community Center        |10.0     |low      |
|Seoul   |GANGNAM-GU     |Samsung Medical Center         |7.0      |low      |
|Seoul   |JONGNO-GU      |Korea Campus Crusade of Christ |7.0      |low      |
|Seoul   |FROM OTHER CITY|Daejeon door-to-door sales     |1.0      |low      |
|Seoul   |FROM OTHER CITY|Shincheonji Church             |8.0      |low      |
|Seoul   |YEONGDEUNGPO-GU|Yeongdeungpo Learning Institute|3.0      |low      |
|Seoul   |GANGNAM-GU     |Gangnam Dongin Church          |1.0      |low      |
|Seoul   |GANGNAM-GU     |Samsung Fire & Marine Insurance|4.0      |low      |
|Seoul   |FROM OTHER CITY|Yongin Brothers                |4.0      |low      |
|Seoul   |FROM OTHER CITY|Uiwang Logistics Center        |2.0      |low      |
|Seoul   |UNDEFINED      |contact with patient           |162.0    |high     |
|Busan   |DONGNAE-GU     |Onchun Church                  |39.0     |low      |
|Busan   |FROM OTHER CITY|Cheongdo Daenam Hospital       |1.0      |low      |
|Busan   |UNDEFINED      |contact with patient           |19.0     |low      |
|Daegu   |UNDEFINED      |overseas inflow                |41.0     |low      |
+--------+---------------+-------------------------------+---------+---------+
only showing top 20 rows

In [152]:
@udf(returnType=StringType()) 
def indicator(str):
    return ' '+str if str == 'high' else ' ' + str

In [151]:
print(indicator('high'))
print(indicator('low'))

 high
 low

In [153]:
Case_df.select(col("province"),upperCase(col("city")),col("infection_case"),col("confirmed"), \
    indicator(caseUDF(col("confirmed"))).alias("highORlow") ) \
   .show(truncate=False)

+--------+---------------+-------------------------------+---------+---------+
|province|upperCase(city)|infection_case                 |confirmed|highORlow|
+--------+---------------+-------------------------------+---------+---------+
|Seoul   |YONGSAN-GU     |Itaewon Clubs                  |139.0    | high  |
|Seoul   |YONGSAN-GU     |Itaewon Clubs                  |139.0    | high  |
|Seoul   |GURO-GU        |Guro-gu Call Center            |95.0     | high  |
|Seoul   |DOBONG-GU      |Day Care Center                |43.0     | low   |
|Seoul   |FROM OTHER CITY|Coupang Logistics Center       |25.0     | low   |
|Seoul   |JONGNO-GU      |Jongno Community Center        |10.0     | low   |
|Seoul   |GANGNAM-GU     |Samsung Medical Center         |7.0      | low   |
|Seoul   |JONGNO-GU      |Korea Campus Crusade of Christ |7.0      | low   |
|Seoul   |FROM OTHER CITY|Daejeon door-to-door sales     |1.0      | low   |
|Seoul   |FROM OTHER CITY|Shincheonji Church             |8.0      | low   |
|Seoul   |YEONGDEUNGPO-GU|Yeongdeungpo Learning Institute|3.0      | low   |
|Seoul   |GANGNAM-GU     |Gangnam Dongin Church          |1.0      | low   |
|Seoul   |GANGNAM-GU     |Samsung Fire & Marine Insurance|4.0      | low   |
|Seoul   |FROM OTHER CITY|Yongin Brothers                |4.0      | low   |
|Seoul   |FROM OTHER CITY|Uiwang Logistics Center        |2.0      | low   |
|Seoul   |UNDEFINED      |contact with patient           |162.0    | high  |
|Busan   |DONGNAE-GU     |Onchun Church                  |39.0     | low   |
|Busan   |FROM OTHER CITY|Cheongdo Daenam Hospital       |1.0      | low   |
|Busan   |UNDEFINED      |contact with patient           |19.0     | low   |
|Daegu   |UNDEFINED      |overseas inflow                |41.0     | low   |
+--------+---------------+-------------------------------+---------+---------+
only showing top 20 rows